<script lang="ts">
  import { TrashIcon } from "svelte-feather-icons";
  import { Paginator, type PaginationSettings } from "@skeletonlabs/skeleton";
  import _debounce from "lodash/debounce";
  import type { NewTodo, Todo } from "$lib/server/schema.js";
  import { onMount } from "svelte";
  import { v4 as uuid } from "uuid";
  import type { GetTodoResponse } from "$lib/type";

  let userId: string;

  /**
   * Response from fetching todos
   */
  let todoResponse: GetTodoResponse = {
    items: [],
    pageInfo: {
      page: 0,
      size: 0,
      limit: 0,
    },
  };

  /**
   * Options for controlling the pagination component
   */
  let paginationSettings: PaginationSettings = {
    page: 0,
    size: 0,
    limit: 10,
    amounts: [5, 10, 25],
  };

  /**
   * Debounced function for refetching todos
   */
  const refetch = _debounce(async () => {
    await getTodos();
  }, 100);

  /**
   * Delete a todo
   * @param id
   */
  async function deleteTodo(id: Todo["id"]) {
    await fetch(`/api/todos/${id}`, {
      method: "DELETE",
      headers: {
        "x-user-id": userId,
      },
    });

    // refetch todos
    await refetch();
  }

  /**
   * Add a todo
   * @param event
   */
  async function addTodo(event: SubmitEvent) {
    const data = new FormData(event.target as HTMLFormElement);
    const todo: Partial<NewTodo> = {};
    for (let [key, value] of data.entries()) {
      // @ts-ignore
      todo[key] = value as any;
    }

    const response = await fetch("/api/todos", {
      method: "POST",
      body: JSON.stringify(todo),
      headers: {
        "Content-Type": "application/json",
        "x-user-id": userId,
      },
    });
    await response.json();

    // reset form
    (event.target as HTMLFormElement).reset();

    // refetch todos
    await refetch();
  }

  /**
   * Fetch paginated todos
   */
  async function getTodos(): Promise<void> {
    const { page, limit } = paginationSettings;
    const response = await fetch(`/api/todos?page=${page}&limit=${limit}`, {
      headers: {
        "x-user-id": userId,
      },
    });

    todoResponse = await response.json();

    // update pagination settings with total amount of todos
    paginationSettings = {
      ...paginationSettings,
      size: todoResponse.pageInfo.size,
    };
  }

  onMount(async () => {
    // store a unique user id in local storage if it doesn't exist
    if (!localStorage.getItem("user_id")) {
      localStorage.setItem("user_id", uuid());
    }

    userId = localStorage.getItem("user_id") as string;

    await refetch();
  });
</script>

<svelte:head>
  <title>Home</title>
  <meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
  <div class="container mx-auto">
    <form class="mb-4" on:submit|preventDefault={addTodo}>
      <h2 class="h2 mb-2">Add Todo</h2>
      <label for="title" class="label">
        <span>Title</span>
        <input
          id="title"
          type="text"
          name="title"
          class="input"
          placeholder="My todo"
        />
      </label>

      <label for="content" class="label">
        <span>Content</span>
        <textarea
          id="content"
          class="input"
          name="content"
          placeholder="Water the plants"
        />
      </label>

      <button type="submit" class="btn variant-filled">Create</button>
    </form>

    <hr class="!border-t-2 mb-4" />

    <h2 class="h2">My Todos</h2>
    {#if todoResponse.pageInfo.size > 0}
      <div class="pt-4 pb-2">
        <Paginator
          showFirstLastButtons={true}
          showNumerals={true}
          bind:settings={paginationSettings}
          on:page={refetch}
          on:amount={refetch}
        />
      </div>
    {/if}
    <div
      class:grid-cols-2={todoResponse.pageInfo.size > 0}
      class="grid gap-3 mt-3"
    >
      {#each todoResponse.items as todo}
        <div class="card">
          <header class="card-header">
            <h2 class="h2">{todo.title}</h2>
          </header>
          <section class="p-4">{todo.content}</section>
          <footer class="card-footer">
            <button
              on:click={() => deleteTodo(todo.id)}
              class="btn-icon variant-filled"
            >
              <TrashIcon />
            </button>
          </footer>
        </div>
      {:else}
        <div class="alert variant-ghost">
          <div class="alert-message">Nothing to do! 🎉</div>
        </div>
      {/each}
    </div>
  </div>
</section>
